.produits{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produit{
  border: 0.5px solid grey;
  border-radius: 10px;
  width: 280px;
  padding: 5px;
  margin: 5px;

  text-align: center;
}

.cercleblue {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: blue;
}

.lien{
  background-color:#FF4500;
  border-radius: 10px;
  color: white;
}
.lien:hover {
color: #FF4500;
background-color:white;
border: 0.5px solid #FF4500;
border-radius: 10px;
text-decoration: none;
}
