<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="#">
  <title>BoomBox</title>
</head>
<body>
  <h1>BoomBox</h1>

  <a href="#" id="logo"><img src="" alt=""></a>
  <nav>
    <ul>
      <li><a href="#">Casque</a></li>
      <li><a href="#">Enceintes</a></li>
      <li><a href="#">Histoires</a></li>
      <li><a href="#">Assistance</a></li>
    </ul>
  </nav>
  <a href="#"><img src="" alt=""></a>
  <a href="#"><img src="" alt=""></a>
  <a href="#"><img src="" alt=""></a>


<section id="main">

</section>

<footer>
<nav>
  <ul>
    <li><a href="#">Nous Contacter</a></li>
    <li><a href="#">F.A.Q</a></li>
    <li><a href="#">Mention légales</a></li>
    <li><a href="#">Conditions d'utilisation</a></li>
    <li><a href="#">Qui sommes nous?</a></li>
  </ul>
</nav>
</footer>


</body>
</html>
